@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
    /*background-color: #423f44;*/
    background: url(background.jpg);
    background-size: cover;
    height: 100vh;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
}

.container-puntos, .container-dibujo, .container-chat {
    /* background-color: rgba(255, 235, 205, 0.76); */
    background-color: #7a46b1e0;
    border: none;
    border-radius: 20px;
    align-items: center;
    display: flex;
    margin: 1%;
    color: white
}

.container-puntos, .container-chat {
    width: 20%;
    height: 90vh;
}
.container-chat, .container-puntos {
    flex-direction: column;
    align-items: center;
}

.tituloColumna {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-top: 10px;
    
}
.totalPuntuacion {
    background-color: #2b0f52a6;
    border: none;
    border-radius: 20px;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
}


.container-dibujo {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.top {
    display: flex;
    width: 96%;
    gap: 50px;
    justify-content: center;
    
}

.topIzquierda {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #561B8A;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.topMedio {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #561B8A;
    padding: 10px;
    border: none;
    border-radius: 10px;
    align-items: center;
}
.container-ronda{
    font-size: 48px;
    margin-top:15px;
}

.topDerecha {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    background-color: #561B8A;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 16%;
}

.divBotonesCanva {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#reset, #limpiar {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #2b0f52;
    color: white;
}

#reset:hover, #limpiar:hover {
    background-color: #441388;
}

.divCanva {
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 15px;
}




/* * {
    outline: 1px solid red;
} */

.container-colores {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
    
}

.chat, .puntuaciones {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #2b0f52a6;
    padding: 30px;
    border: none;
    border-radius: 20px;
    
}

#colorRojo {
    border: 2px solid white;
    border-radius: 5px;
    background-color: red;
    width: 25px;
    height: 25px;
}

#colorAmarillo {
    border: 2px solid white;
    border-radius: 5px;
    background-color: yellow;
    width: 25px;
    height: 25px;
}

#colorAzul {
    border: 2px solid white;
    border-radius: 5px;
    background-color: blue;
    width: 25px;
    height: 25px;
}

#colorNegro {
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    width: 25px;
    height: 25px;
}

#colorRosa {
    border: 2px solid white;
    border-radius: 5px;
    background-color: pink;
    width: 25px;
    height: 25px;
}

#colorVerde {
    border: 2px solid white;
    border-radius: 5px;
    background-color: green;
    width: 25px;
    height: 25px;
}

#colorMarron {
    border: 2px solid white;
    border-radius: 5px;
    background-color: brown;
    width: 25px;
    height: 25px;
}

#colorMorado {
    border: 2px solid white;
    border-radius: 5px;
    background-color: purple;
    width: 25px;
    height: 25px;
}