@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #423f44;
    height: 100vh;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans", serif;
}

.container-puntos, .container-dibujo, .container-chat {
    background-color: blanchedalmond;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 1%;
}

.container-puntos, .container-chat {
    width: 20%;
    height: 63%;
}
.container-chat {
    flex-direction: column;
}

.container-dibujo {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.container-dibujo div {
    display: flex;
    justify-content: center;
}

.divCanva {
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 15px;

}

/* * {
    outline: 1px solid red;
  } */

.container-colores {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
    
}

.chat {
    display: flex;
    flex-direction: column;
    
}

#colorRojo {
    border: 2px solid white;
    border-radius: 5px;
    background-color: red;
    width: 25px;
    height: 25px;
}

#colorAmarillo {
    border: 2px solid white;
    border-radius: 5px;
    background-color: yellow;
    width: 25px;
    height: 25px;
}

#colorAzul {
    border: 2px solid white;
    border-radius: 5px;
    background-color: blue;
    width: 25px;
    height: 25px;
}

#colorNegro {
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    width: 25px;
    height: 25px;
}

#colorRosa {
    border: 2px solid white;
    border-radius: 5px;
    background-color: pink;
    width: 25px;
    height: 25px;
}

#colorVerde {
    border: 2px solid white;
    border-radius: 5px;
    background-color: green;
    width: 25px;
    height: 25px;
}

#colorMarron {
    border: 2px solid white;
    border-radius: 5px;
    background-color: brown;
    width: 25px;
    height: 25px;
}

#colorMorado {
    border: 2px solid white;
    border-radius: 5px;
    background-color: purple;
    width: 25px;
    height: 25px;
}